In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in e:\projects\dataissuetracker\env\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in e:\projects\dataissuetracker\env\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in e:\projects\dataissuetracker\env\lib\site-packages (2.1.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.23.2 in e:\projects\dataissuetracker\env\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\projects\dataissuetracker\env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in e:\projects\dataissuetracker\env\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in e:\projects\dataissuetracker\env\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in e:\projects\dataissuetracker\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [46]:
import pandas as pd

In [47]:
df=pd.read_excel('E:/projects/DataIssueTracker/DITApi/media/facility data issues/facility_135.xlsx')

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Patient ID                         153 non-null    int64
 1   Facility                           153 non-null    int64
 2   Date of Entry                      153 non-null    datetime64[ns]
 3   Inconsistency                      153 non-null    object
 4   Action taken by country data team  0 non-null      float64
 5   Date action taken by country team  0 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 7.3+ KB

In [49]:
df.head(2)

,Patient ID,Facility,Date of Entry,Inconsistency,Action taken by country data team,Date action taken by country team
0,13501086,135,2023-09-08,Data required for: in_frm_dt_pap ( Date of Pap...,NaN,NaN
1,13501178,135,2022-04-13,Data required for: in_frm_dt_pap ( Date of Pap...,NaN,NaN

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Patient ID                         153 non-null    int64
 1   Facility                           153 non-null    int64
 2   Date of Entry                      153 non-null    datetime64[ns]
 3   Inconsistency                      153 non-null    object
 4   Action taken by country data team  0 non-null      float64
 5   Date action taken by country team  0 non-null      float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 7.3+ KB

In [51]:
df = df[df.duplicated(keep=False)]

In [52]:
duplicate_rows

Empty DataFrame
Columns: [Patient ID, Facility, Date of Entry, Inconsistency, Action taken by country data team, Date action taken by country team]
Index: []